<mat-card>
    <div *ngIf = "!(authService.user | async)">
        <h3 style = "text-align: center;"><a routerLink = "/register">Register</a> or <a routerLink="/login">Login</a> to manage your reading list</h3>
      </div>

  <div *ngIf = "(authService.user  | async)">
        <h1 style = "text-align: center;">Hey {{(authService.user | async)?.displayName}}. See where you are in relation to others</h1>

    <mat-table [dataSource]="scores">

      <ng-container cdkColumnDef="score">
        <mat-header-cell *cdkHeaderCellDef> Score </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.score}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="user">
        <mat-header-cell *cdkHeaderCellDef> User </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="quizName">
        <mat-header-cell *cdkHeaderCellDef> Quiz </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.quizName}} </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="['user','score', 'quizName']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['user','score', 'quizName']"></mat-row>
    </mat-table>

<br><br>

</div>
</mat-card>
