<mat-card>
<mat-toolbar class="nav">

  <img width=130px src="https://i.imgur.com/ySgib39.jpg">
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;">
    <div *ngIf="authService.user | async">
      <button  mat-raised-button
               class="nav-side"
               *ngIf="router.url !== '/score'"
               (click)= "toScores()">
        score
      </button>
    </div>

    <div *ngIf="authService.user | async">
      <button  mat-raised-button
               class="nav-side"
               *ngIf="router.url !== '/quiz'"
               (click)= "toQuiz()">
        quiz
      </button>
    </div>
      <div *ngIf="!(authService.user | async)">
        <button   *ngIf = "router.url !== '/register'"
                  mat-raised-button
                  class="nav-side"
                  (click)= "toRegister()">
            Register
        </button>
      </div>

      <div *ngIf="!(authService.user | async)">
        <button  *ngIf = "router.url !== '/login'"
                  mat-raised-button
                  class="nav-side"
                  (click)= "toLogin()">
            Login
        </button>
      </div>

    <button *ngIf = "(authService.user | async)"
            mat-raised-button 
            class="nav-side" 
            (click)="toLogout()">
      Logout
   </button>     
        
  </div>

  <div *ngIf="!(authService.user | async)">
      <button   *ngIf = "router.url !== '/quiz'"
                mat-raised-button
                class="nav-side"
                (click)= "toHome()">
          Home
      </button>
    </div>

</mat-toolbar>
</mat-card>
